// junk and whatever
$bg: #333;
$fg: #DDD;

body {
  background: {
    color: $bg;
  };
  color: $fg;
  font: {
    size: 13px;
    family: verdana, arial, helvetica, sans-serif;
  }
  line-height: 18px;
  
  width: 981px;
  margin: {
    left: auto;
    right: auto;
  }
}

td {
  img { 
    width: 50px;
  }
}

a {
  color: #eee;
  &:visited {
    color: #aaa; }
  &:hover {
    color: #fff;
    background-color: #000; 
  } 
}

// Card editing pages
#extras {
  .field {
    text-align: center;
    float: left;
    width: 100px;
    margin: {
      right: 10px;
    }
  }
}

div#image {
  float: right;
  width: 300px;
  margin-right: 20px;
}

#card {
  label {
    font-weight: bold;
  }
  color: #000;
  width: 580px;
  padding: 10px;
  float: left;
  border: {
    color: #000;
    style: solid;
    width: 5px;
  }
  
  .description {
    border: {
      color: #cd853f;
      style: solid;
      width: 3px;
    };
  }
}