// junk and whatever
$bg: #333;
$fg: #DDD;

body {
  background: {
    color: $bg;
  };
  color: $fg;
  font: {
    size: 13px;
    family: verdana, arial, helvetica, sans-serif;
  }
  line-height: 18px;
  
  width: 981px;
  margin: {
    left: auto;
    right: auto;
  }
}